In [1]:
import pandas as pd
feature_names =  ['BI-RADS assessment', 'Age', 'Shape', 'Margin', 'Density', 'Severity']
raw_data = pd.read_csv("mammographic_masses.data.txt", na_values = ['?'], names = feature_names)
raw_data.head()

   BI-RADS assessment   Age  Shape  Margin  Density  Severity
0                 5.0  67.0    3.0     5.0      3.0         1
1                 4.0  43.0    1.0     1.0      NaN         1
2                 5.0  58.0    4.0     5.0      3.0         1
3                 4.0  28.0    1.0     1.0      3.0         0
4                 5.0  74.0    1.0     5.0      NaN         1

In [2]:
raw_data.describe()

,BI-RADS assessment,Age,Shape,Margin,Density,Severity
count,959.000000,956.000000,930.000000,913.000000,885.000000,961.000000
mean,4.348279,55.487448,2.721505,2.796276,2.910734,0.463059
std,1.783031,14.480131,1.242792,1.566546,0.380444,0.498893
min,0.000000,18.000000,1.000000,1.000000,1.000000,0.000000
25%,4.000000,45.000000,2.000000,1.000000,3.000000,0.000000
50%,4.000000,57.000000,3.000000,3.000000,3.000000,0.000000
75%,5.000000,66.000000,4.000000,4.000000,3.000000,1.000000
max,55.000000,96.000000,4.000000,5.000000,4.000000,1.000000

In [19]:
import numpy as np
np.arange(-10., 10., 1.)

array([-10.,  -9.,  -8.,  -7.,  -6.,  -5.,  -4.,  -3.,  -2.,  -1.,   0.,
         1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.])

In [35]:
xx, yy = np.meshgrid(np.arange(-5, 5, 1),
                     np.arange(-2, 2, 1))
print (np.arange(-5, 5, 1))
print ("----")
print (xx)

[-5 -4 -3 -2 -1  0  1  2  3  4]
----
[[-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]]

In [36]:
print (yy)

[[-2 -2 -2 -2 -2 -2 -2 -2 -2 -2]
 [-1 -1 -1 -1 -1 -1 -1 -1 -1 -1]
 [ 0  0  0  0  0  0  0  0  0  0]
 [ 1  1  1  1  1  1  1  1  1  1]]

In [37]:
print (np.meshgrid(np.arange(-5, 5, 1),
                     np.arange(-2, 2, 1)))

[array([[-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4],
       [-5, -4, -3, -2, -1,  0,  1,  2,  3,  4]]), array([[-2, -2, -2, -2, -2, -2, -2, -2, -2, -2],
       [-1, -1, -1, -1, -1, -1, -1, -1, -1, -1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1]])]

In [42]:
npx = xx.ravel()
npy = yy.ravel()

print (npx)
print (npy)

samplePoints = np.c_[npx, npy]
print (samplePoints)

[-5 -4 -3 -2 -1  0  1  2  3  4 -5 -4 -3 -2 -1  0  1  2  3  4 -5 -4 -3 -2
 -1  0  1  2  3  4 -5 -4 -3 -2 -1  0  1  2  3  4]
[-2 -2 -2 -2 -2 -2 -2 -2 -2 -2 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0  0  0  0
  0  0  0  0  0  0  1  1  1  1  1  1  1  1  1  1]
[[-5 -2]
 [-4 -2]
 [-3 -2]
 [-2 -2]
 [-1 -2]
 [ 0 -2]
 [ 1 -2]
 [ 2 -2]
 [ 3 -2]
 [ 4 -2]
 [-5 -1]
 [-4 -1]
 [-3 -1]
 [-2 -1]
 [-1 -1]
 [ 0 -1]
 [ 1 -1]
 [ 2 -1]
 [ 3 -1]
 [ 4 -1]
 [-5  0]
 [-4  0]
 [-3  0]
 [-2  0]
 [-1  0]
 [ 0  0]
 [ 1  0]
 [ 2  0]
 [ 3  0]
 [ 4  0]
 [-5  1]
 [-4  1]
 [-3  1]
 [-2  1]
 [-1  1]
 [ 0  1]
 [ 1  1]
 [ 2  1]
 [ 3  1]
 [ 4  1]]

In [46]:
print(xx)
xx.shape

[[-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]
 [-5 -4 -3 -2 -1  0  1  2  3  4]]

(4, 10)

In [29]:
nx, ny = (3, 2)
x = np.linspace(0, 1, nx)
y = np.linspace(0, 1, ny)
print (y)

[0. 1.]

In [33]:
x,y = np.meshgrid(3,5)
print (x,y)

[[3]] [[5]]

In [34]:
npx = xx.ravel()
print (npx)

[-5 -4 -3 -2 -1  0  1  2  3  4 -5 -4 -3 -2 -1  0  1  2  3  4 -5 -4 -3 -2
 -1  0  1  2  3  4 -5 -4 -3 -2 -1  0  1  2  3  4]

In [ ]:
npy = yy.ravel()
    
    # Convert to a list of 2D (income, age) points
    samplePoints = np.c_[npx, npy]